![Image of Venturenix](http://www.venturenix.com//assets/images/venture-nix-logo.png)

# Python Data Structures: List, Tuple, Set and Dictionary

** Learning Objectives **

In this lecture, we will be covering 4 commonly used data structures in Python, which are
- List
- Tuple
- Set
- Dict

Offical tutorial: https://docs.python.org/3/tutorial/datastructures.html

## 1. List 
- General purpose
- Most commonly used
- Grow and shrink size as needed
- Dequence Type
- Sortable
- Mutable

### Shared operations of a Sequence (String, List, tuple)
- indexing
- slicing
- adding / concatenating
- multiplying
- checking memebership
- iterating
- check length
- get minimum
- get maximum
- sum of elements
- sorting

### Define a list

In [1]:
l = []
l = list()
l = [1,2,3,4,5]

### Length of a list

In [2]:
len(l)

5

### a list can store a sequence of data with different data type

In [3]:
[1,"2",3.0,True]

[1, '2', 3.0, True]

### Access elements in a list

In [5]:
s = "12345"
s[2]

'3'

In [6]:
l = [1,2,3,4,5]
l[2]

3

### Update an elemnt in a list

In [7]:
l = [1,2,3,4,5]
l[2] = 6
print(l)

[1, 2, 6, 4, 5]

### Append an element to a list

In [9]:
l = [1,2,3,4,5]
print(l)
l.append(6)
print(l)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]

### Insert an element to a list

In [10]:
l = [1,2,3,4,5]
print(l)
l.insert(3,6)
print(l)

[1, 2, 3, 4, 5]
[1, 2, 3, 6, 4, 5]

### Remove an element from a list

In [12]:
l = [1,2,3,4,5]
print(l)
l.remove(3)
print(l)

[1, 2, 3, 4, 5]
[1, 2, 4, 5]

### Check membership

In [13]:
l = [1,2,3,4,5]
2 in l

True

In [14]:
l = [1,2,3,4,5]
0 in l

False

### list of list

In [27]:
l = [1,2,3,4,[5,6,7,[8,9,[10]]]]

In [28]:
l[-1][-1][1]

9

### Copy a list

In [58]:
a = 1
b = a
a = 2
print('a>{},{}'.format(id(a),a))
print('b>{},{}'.format(id(b),b))

a>4321342928,2
b>4321342896,1

In [59]:
a = [1,2,3]
b = a
a[1] = 3
print('a>{},{}'.format(id(a),a))
print('b>{},{}'.format(id(b),b))

a>4370342152,[1, 3, 3]
b>4370342152,[1, 3, 3]

In [60]:
a = [1,2,3]
b = [i for i in a]
a[1] = 3
print('a>{},{}'.format(id(a),a))
print('b>{},{}'.format(id(b),b))

a>4370459400,[1, 3, 3]
b>4370458760,[1, 2, 3]

In [54]:
a = [1,2,3]
b = list(a)
print(a,b)
a[1] = 3
print(a,b)

[1, 2, 3] [1, 2, 3]
[1, 3, 3] [1, 2, 3]

In [55]:
a = [1,2,3]
b = []
for i in a:
    b.append(i)
print(a,b)
a[1] = 3
print(a,b)

[1, 2, 3] [1, 2, 3]
[1, 3, 3] [1, 2, 3]

### Iterate a list

In [35]:
for i in [1,2,3,4,5,6,7]:
    print(i)

1
2
3
4
5
6
7

In [36]:
for idx, i in enumerate([1,2,3,4,5,6,7]):
    print(idx, i)

0 1
1 2
2 3
3 4
4 5
5 6
6 7

## Mutable and immutable objects
Mutable objects: list, dict, set, byte array
<br>
Immutable objects: int, float, string, tuple, frozen set

### Exercise 1
Write a program to extract all even number elemets to a new list.
If the input list is [1,6,8,4,7,9,10,15,16,18], the output list should be [6,8,4,10,16,18]

In [39]:
def get_even(input_list):
    output_list = []
    for i in input_list:
        if i%2 == 0:
            output_list.append(i)
    return output_list

In [51]:
def get_even2(intput_list):
    return [i for i in input_list if i%2==0]

In [40]:
get_even([1,6,8,4,7,9,10,15,16,18])

[6, 8, 4, 10, 16, 18]

In [52]:
get_even2([1,6,8,4,7,9,10,15,16,18])

[6, 8, 4, 10, 16, 18]

In [46]:
input_list = [1,6,8,4,7,9,10,15,16,18]
[i if i%3==0 else -1 for i in input_list if i%2==0]

[6, -1, -1, -1, -1, 18]

In [47]:
l = [1,2,3,4,5]
[i+1 for i in l]

[2, 3, 4, 5, 6]

In [48]:
l = [1,2,3,4,5]
[i for i in l if i%2!=0]

[1, 3, 5]

In [50]:
l = [1,2,3,4,5]
[i if i%2!=0 else -1 for i in l]

[1, -1, 3, -1, 5]

### Exercise 2
Write a program to check if a user input string is palindrome. (A palindrome is a string that reads the same forwards and backwards.) Example: Anna, Level, Madam, Mom are palindrom

In [61]:
def check_palindrome(s):
    s = s.lower()
    for i in range(len(s)):
        left = i 
        right = len(s) -1 -i
        if left > right:
            return True
        if s[left] == s[right]:
            continue
        else:
            return False

In [65]:
print(check_palindrome("Anna"))
print(check_palindrome("Level"))
print(check_palindrome("ancdef"))

True
True
False

In [67]:
def check_palindrome2(s):
    return s.lower() == s[::-1].lower()

In [68]:
print(check_palindrome2("Anna"))
print(check_palindrome2("Level"))
print(check_palindrome2("ancdef"))

True
True
False

### Exercise 3
Write a program that takes a list and returns a new list that contains all the elements of the first list with no duplicates.

In [2]:
l = [1,1,1,1,1,2,2,2,2]
print(l)
s = set(l)
print(s)

[1, 1, 1, 1, 1, 2, 2, 2, 2]
{1, 2}

In [3]:
def remove_duplicate1(l):
    return list(set(l))

In [4]:
def remove_deplicate2(l):
    output_list = []
    for i in l:
        if i not in output_list:
            output_list.append(i)
    return output_list

### Exercise 4
Write a program that takes two lists and returns True if they have at least one common member.

In [ ]:
def foo1(l1,l2):
    for i in l2:
        if i in l1:
            return True
    return False

In [ ]:
def foo2(l1,l2):
    if len(set(l1) & set(l2))>0:
        return True
    else:
        return False

## 2. Tuple
- Immutable
- Useful for fixed data
- Faster than list
- sequence type

In [69]:
t = (1,2)
t[0]

1

In [70]:
t = (1,2)
t[0] = 2

TypeError: 'tuple' object does not support item assignment

### Access en element in tuple

### Update tuple

## 3. Set
- Store non-duplicate items
- Very fast access vs list
- Math set ops
- Unordered

### Define a set

In [72]:
s = set()

In [74]:
s.add(1)
s

{1}

### Access an element

In [84]:
s1 = {1,2,3,4,5,4,3,2,1}
for i in s1:
    print(i)

1
2
3
4
5

### Set operation

In [78]:
s1 = {1,2,3}
s2 = {3,4,5}
print(s1 & s2)
print(s1 | s2)
print(s1 ^ s2)

{3}
{1, 2, 3, 4, 5}
{1, 2, 4, 5}

In [79]:
list({1,2,3})

[1, 2, 3]

In [80]:
set([1,2,3])

{1, 2, 3}

In [93]:
import time
l = [i for i in range(1000000)]
s = set(l)

In [94]:
start_time = time.time()
888888 in l
end_time = time.time()
print(end_time - start_time)

0.010530233383178711

In [95]:
start_time = time.time()
888888 in s
end_time = time.time()
print(end_time - start_time)

3.886222839355469e-05

## 4. Dictionary 
- Key-value pairs
- Associative array, like HashMap
- Unordered
- Keys must be unique

### Define a dictionary

In [97]:
d1 = {1:"a", 2:"b"}

d2 = dict()
d2[1] = "a" # insert 
d2[2] = "b"
d2[1] = "c"

### Access an element in a dictionary

### Update dictionary

### Check if a key exist

### Set default

## Big O andTime Complexity
https://wiki.python.org/moin/TimeComplexity

# HW1

write a function which input list with following propeteries
- all elements are positive integer 
- all elements exist twice except one
e.g [1,4,6,7,5,4,6,1,7] -> 5
and output the single occured element

In [7]:
def ans1(l):
    return [i for i in l if l.count(i)==1]

In [8]:
l = [1,2,3,4,5]
def ant_count(l,i):
    count = 0
    for e in l:
        if e == i:
            count += 1
    return count

In [9]:
ant_count(l,3)

1

In [10]:
def ans2(l):
    for i in l:
        count = 0
        for j in l:
            if i == j:
                count += 1
        if count == 1:
            return i

In [ ]:
def ans4(l):
    counter = dict()
    for i in l:
        counter[i] = counter.setdefault(i,0) + 1
    for k in counter:
        if counter[k] == 1:
            return k

In [32]:
def ans5(l):
    result = l[0]
    for i in l[1:]:
        result = result ^ i
    return result

In [30]:
l1 = [i for i in range(1000)]
l1 = l1 + l1
l1.append(999999999999)

l2 = [i for i in range(100000)]
l2 = l2 + l2
l2.append(999999999999)

In [27]:
import time
start_time = time.time()
print(ans2(l1))
end_time = time.time()
print(end_time - start_time)

import time
start_time = time.time()
print(ans2(l2))
end_time = time.time()
print(end_time - start_time)

999999999999
0.1101071834564209
999999999999
10.08663010597229

In [34]:
import time
start_time = time.time()
print(ans3(l1))
end_time = time.time()
print(end_time - start_time)

import time
start_time = time.time()
print(ans3(l2))
end_time = time.time()
print(end_time - start_time)

999999999999
0.0005719661712646484
999999999999
0.041107892990112305

In [33]:
import time
start_time = time.time()
print(ans5(l1))
end_time = time.time()
print(end_time - start_time)

import time
start_time = time.time()
print(ans5(l2))
end_time = time.time()
print(end_time - start_time)

999999999999
0.0022127628326416016
999999999999
0.015271902084350586